{% extends 'base.html.twig' %}

{% block title %}Stagiaires!{% endblock %}

{% block body %}
	{# {% set pin_count = pins|length %}
    {{ pin_count }} #}
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Date de Naissance</th>
                <th>Nationalité</th>
                <th>Province</th>
                <th>CESS</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for stagiaire in stagiaires %}
            <tr>
                <td>{{ stagiaire.nom }}</td>
                <td>{{ stagiaire.prenom }}</td>
                <td>{{ stagiaire.email }}</td>
                <td>{{ stagiaire.dateDeNaissance|date }}</td>
                <td>{{ stagiaire.nationalite }}</td>
                <td>{{ stagiaire.province }}</td>
                <td>{{ stagiaire.cess }}</td>
                <td>
                    <a href="{{ path('app_stagiaire_show', {'id': stagiaire.id}) }}">Details</a>
                    <a href="{{ path('app_stagiaire_edit', {'id': stagiaire.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Pas encore de stagiaire</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
{% endblock %}
